/* dracula dark theme */
.dark-theme {
    --primary-font-color: #f8f8f2;
    --secondary-font-color: #bd93f9;
    --primary-color: rgba(255, 121, 198, 0.733);
    --background-color: #282a36;
    --semi-transparent: rgba(13, 15, 27, 0.2);
    --half-transparent: rgba(66, 40, 97, 0.5);
    --one-background: #44475a;
    --background-profile: var(--one-background);
    --background-social: var(--one-background);
    --background-anime: var(--one-background);
    --background-repos: var(--one-background);
    --background-footer: var(--one-background);

    --text-color-completed: #50fa7b;
    --text-color-watching: #ffb86c;
    --text-color-dropped: #ff5555;
    --text-color-on-hold: #f1fa8c;
    --text-color-plan-to-watch: #8be9fd;

    --repo-language-color: #ff79c6;
    --repo-stars-color: #50fa7b;

    --button-filter: brightness(1);

    --border-radius: 6px;
    --layout-padding: 10px;
    --border-size: 0px;
}

/* dracula light theme */
.light-theme {
    --primary-font-color: #44475a;
    --secondary-font-color: #6272a4;
    --primary-color: rgba(255, 121, 198, 0.733);
    --background-color: #f8f8f2;
    --semi-transparent: rgba(13, 15, 27, 0.2);
    --half-transparent: rgba(66, 40, 97, 0.5);
    --one-background: #e6e6e6;
    --background-profile: var(--one-background);
    --background-social: var(--one-background);
    --background-anime: var(--one-background);
    --background-repos: var(--one-background);
    --background-footer: var(--one-background);

    --text-color-completed: #50fa7b;
    --text-color-watching: #ffb86c;
    --text-color-dropped: #ff5555;
    --text-color-on-hold: #f1fa8c;
    --text-color-plan-to-watch: #8be9fd;

    --repo-language-color: #ff79c6;
    --repo-stars-color: #50fa7b;

    --button-filter: brightness(1.3);
    --button-font-color: #44475a;

    --border-radius: 6px;
    --layout-padding: 10px;
    --border-size: 0px;
}