/* light theme */
:root {
    --primary-font-color: #333333;
    --secondary-font-color: #414141;
    --primary-color: rgba(133, 73, 130, 0.733);
    --background-color: #dadada;
    --semi-transparent: rgba(133, 133, 133, 0.2);
    --half-transparent: rgba(0, 0, 0, 0.5);
    --one-background: #bdbdbd;
    --background-profile: var(--one-background);
    --background-social: var(--one-background);
    --background-anime: var(--one-background);
    --background-repos: var(--one-background);
    --background-footer: var(--one-background);
    --text-color-secondary: #707070;

    --text-color-completed: #4d75c5;
    --text-color-watching: #4ea54e;
    --text-color-dropped: #a54e4e;
    --text-color-on-hold: #eff162;
    --text-color-plan-to-watch: #aaaaaa;

    --repo-language-color: #f1e05a;
    --repo-stars-color: #ffac33;

    --button-filter: brightness(2);
    --button-font-color: #585858;

    --border-radius: 7px;
    --layout-padding: 10px;
}