/* nord theme */
:root {
    --primary-font-color: #d8dee9;
    --secondary-font-color: #e5e9f0;
    --primary-color: rgba(94, 129, 172, 0.733);
    --background-color: #2e3440;
    --semi-transparent: rgba(216, 222, 233, 0.2);
    --half-transparent: rgba(38, 40, 63, 0.5);
    --one-background: #3b4252;
    --background-profile: var(--one-background);
    --background-social: var(--one-background);
    --background-anime: var(--one-background);
    --background-repos: var(--one-background);
    --background-footer: var(--one-background);
    --text-color-secondary: #81a1c1;

    --text-color-completed: #88c0d0;
    --text-color-watching: #a3be8c;
    --text-color-dropped: #bf616a;
    --text-color-on-hold: #ebcb8b;
    --text-color-plan-to-watch: #5e81ac;

    --repo-language-color: #b48ead;
    --repo-stars-color: #d08770;

    --button-filter: brightness(1.1);

    --border-radius: 5px;
    --layout-padding: 10px;
    --border-size: 0px;
}
