/* solarized dark theme */
:root {
    --primary-font-color: #839496;
    --secondary-font-color: #93a1a1;
    --primary-color: rgba(38, 139, 210, 0.733);
    --background-color: #002b36;
    --semi-transparent: rgba(131, 148, 150, 0.2);
    --half-transparent: rgba(0, 43, 54, 0.5);
    --one-background: #073642;
    --background-profile: var(--one-background);
    --background-social: var(--one-background);
    --background-anime: var(--one-background);
    --background-repos: var(--one-background);
    --background-footer: var(--one-background);
    --text-color-secondary: #586e75;

    --text-color-completed: #268bd2;
    --text-color-watching: #859900;
    --text-color-dropped: #dc322f;
    --text-color-on-hold: #b58900;
    --text-color-plan-to-watch: #839496;

    --repo-language-color: #2aa198;
    --repo-stars-color: #b58900;

    --button-filter: brightness(1.1);

    --border-radius: 5px;
    --layout-padding: 10px;
}
