.head-layouts#animes-layout {
    background-color: var(--background-anime);
    overflow: hidden;
    height: auto;
    min-height: calc(238px + var(--layout-padding) * 2);
}

#anime-container {
    display: flex;
    flex-direction: row;
    gap: var(--layout-padding);
}

#anime-container:hover {
    animation-play-state: paused !important;
}

.anime-card {
    background-color: var(--semi-transparent) !important;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    width: 170px;
    height: 238px;
    cursor: pointer;
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: space-between;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    user-select: none;
    background-color: transparent;
}

.anime-card:hover {
    transform: scale(1.05);
}

.anime-card:active {
    transform: scale(0.95);
}

.anime-card#madotsuki {
    background-image: url(../img/madotsuki/walking.gif);
    background-repeat: no-repeat;
    background-color: transparent !important;
    background-position: center;
    background-size: 50%;
    justify-content: space-between;
}

#anime-container:hover .anime-card#madotsuki {
    background-image: url(../img/madotsuki/bounce.gif);
    transform: scale(1);
}

.anime-card#madotsuki:active {
    background-image: url(../img/madotsuki/rotating.gif) !important;
    transform: scale(1);
}

.anime-card p {
    color: var(--primary-font-color);
    font-size: 100%;
    font-family: var(--font-courier);
    padding: 2px;
    margin: 0;
    width: 100%;
    background-color: var(--half-transparent);
    word-wrap: break-word;
    word-break: break-word;
    border-radius: var(--border-radius);
}

.anime-card:hover p#anime-title {
    border-radius: 0px;
}

.anime-card p#anime-date {
    display: none;
}

.anime-card:hover p#anime-date {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
}

.anime-card .anime-status {
    font-weight: bold;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.anime-card p#completed {
    color: var(--text-color-completed);
}

.anime-card p#watching {
    color: var(--text-color-watching);
}

.anime-card:hover .anime-status {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: auto;
}
