.head-layouts#footer-layout {
    background-color: var(--background-footer);
    overflow: hidden;
    width: 100%;
    padding: calc(var(--layout-padding) - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

#footer-layout p {
    color: var(--text-color-secondary);
}

#footer-layout p a {
    text-decoration: none;
    color: var(--primary-color);
}
