.head-layouts#repos-layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background-repos);
    overflow: hidden;
    padding: var(--layout-padding);
    width: 100%;
    height: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#repos-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--layout-padding);
    scrollbar-width: 0;
}


.repo-button {
    display: flex;
    flex-direction: column;
    color: var(--primary-font-color);
    font-family: var(--font-courier);
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--semi-transparent);
    padding: var(--layout-padding);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100px;
    justify-content: space-between;
}

.repo-button h4 {
    margin: 0;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repo-button p {
    font-size: 0.8em;
    margin-top: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.repo-button:hover {
    background-color: var(--primary-color);
    transform: scale(1.01);
    box-shadow: 0 5px 15px var(--semi-transparent);
}

.repo-button:active {
    transform: translateY(0);
    box-shadow: none;
}

.repo-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.8em;
}

.repo-info span {
    display: flex;
    align-items: center;
}

.repo-info span:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
}

.repo-language:before {
    background-color: #f1e05a;
}

.repo-stars:before {
    background-color: #ffac33;
}
