@import url("profile_layout.css");
@import url("social_layout.css");
@import url("animes_layout.css");
@import url("repos_layouts.css");
@import url("footer_layout.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font-color: #e0e0e0;
    --secondary-font-color: #dddddd;
    --primary-color: rgba(106, 100, 131, 0.733);
    --background-dark: #000000;
    --semi-transparent: rgba(0, 0, 0, 0.2);
    --half-transparent: rgba(0, 0, 0, 0.5);
    --one-background: #222122;
    --background-profile: var(--one-background);
    --background-social: var(--one-background);
    --background-anime: var(--one-background);
    --background-repos: var(--one-background);
    --background-footer: var(--one-background);
    --text-color-secondary: #a0a0a0;

    --font-courier: 'Courier New', Courier, monospace;
    --border-radius: 5px;
    --layout-padding: 15px;

    --text-color-completed: #77a5ff;
    --text-color-watching: #a3f19c;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

/* scrollbar firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) transparent;
}

.preload {
    background-image: url(../img/madotsuki/bounce.gif), url(../img/madotsuki/rotating.gif);
    overflow: hidden;
    width: 0;
    height: 0;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: var(--background-dark);
    height: 100vh;
    width: 100%;
    color: var(--primary-font-color);
    font-family: var(--font-courier);
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.main-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 995px;
    box-sizing: border-box;
}

@media (max-width: 995px) {
    .main-page {
        width: 100%;
    }
}

.head-layouts {
    display: flex;
    border-radius: var(--border-radius);
    width: 100%;
    padding: var(--layout-padding);
    box-sizing: border-box;
}
/* scroll animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* mobile */
@media (max-width: 768px) {
    .main-page {
        font-size: 80%;
    }

    .head-layouts#profile-layout {
        height: 130px;
    }

    #profile-info h2 {
        height: 70px;
    }

    #social-layout {
        min-height: 20px;
    }

    #animes-layout {
        min-height: calc(180px + var(--layout-padding) * 2);
    }

    .anime-card {
        width: 130px;
        height: 180px;
    }

    #repos-layout {
        font-size: 120%;
    }

    #footer-layout {
        height: auto;
    }
}
