@import '/assets/css/fonts.css';

:root {
    --border-radius: 5px;
    --layout-padding: 10px;
    --border-size: 0px;
    --border-color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-style: normal;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) transparent;
}

html {
    background-color: var(--background-color);
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: var(--background-color);
    height: 100vh;
    width: 100%;
    color: var(--primary-font-color);
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.main-page {
    position: relative;
    opacity: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 995px;
    box-sizing: border-box;
}

.main-page span#theme-toggle {
    display: flex;
    background-color: var(--primary-color);
    position: absolute;
    top: var(--layout-padding);
    right: var(--layout-padding);
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.main-page span#theme-toggle::before {
    content: '';
    height: 12px;
    width: 12px;
}

.main-page span#theme-toggle:hover {
    transform: scale(1.50);
}

.main-page span#theme-toggle:active {
    transform: scale(1.30);
}

@media (max-width: 995px) {
    .main-page {
        width: 100%;
    }
}

.head-layouts {
    border: var(--border-size) solid var(--border-color);
    display: flex;
    border-radius: var(--border-radius);
    width: 100%;
    padding: var(--layout-padding);
    box-sizing: border-box;
}

/* profile layout */
.head-layouts#profile-layout {
    flex-direction: row;
    background-color: var(--background-profile);
    height: auto;
    margin-bottom: var(--layout-padding);
    height: 180px;
}

#profile-picture {
    background-color: var(--semi-transparent);
    border-radius: var(--border-radius);
    aspect-ratio: 1 / 1;
    width: auto;    
    user-select: none;
    object-fit: cover;
}

#profile-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: var(--layout-padding);
    align-items: flex-start;
    justify-content: flex-start;
}

h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

h3 {
    margin-left: var(--layout-padding);
    font-weight: 500;
    font-size: 1em;
}

#profile-info h1 {
    display: flex;
    align-items: center;
    height: 25px;
    font-size: 1.5em;
    font-weight: 500;
    background-color: transparent;
    border-radius: var(--border-radius);
    padding: 2px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

#profile-info h2 {
    display: flex;
    color: var(--secondary-font-color);
    font-weight: 400;
    width: 100%;
    flex-grow: 1;
    font-size: 1em;
    background-color: var(--semi-transparent);
    border-radius: var(--border-radius);
    border-top-left-radius: 0;
    padding: 2px;
    overflow-y: auto;
}

/* Social layout */
#social-layout {
    height: auto;
    min-height: calc(30px + var(--layout-padding) * 2);
    background-color: var(--background-social);
    overflow: hidden;
}

#social-container {
    margin-left: calc(var(--layout-padding) * -1);
    margin-right: calc(var(--layout-padding) * -1);
    padding-left: var(--layout-padding);
    padding-right: var(--layout-padding);
    display: flex;
    flex-direction: row;
    gap: var(--layout-padding);
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

#social-container::-webkit-scrollbar {
    display: none;
}

.button {
    height: 30px;
    padding: var(--layout-padding);
    display: flex;
    border: none;
    border-radius: var(--border-radius);
    color: var(--button-font-color, var(--primary-font-color));
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
    user-select: none;
    filter: var(--button-filter);
}

.button:hover {
    transform: scale(1.05);
    background-color: var(--primary-color) !important;
    filter: brightness(1);
}

.button:active {
    transform: scale(1);
}

/* scroll animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Animes Layout */
#animes-layout {
    background-color: var(--background-anime);
    overflow: hidden;
    height: auto;
    min-height: calc(238px + var(--layout-padding) * 2);
}

#anime-container {
    display: flex;
    flex-direction: row;
    gap: var(--layout-padding);
}

#anime-container:hover {
    animation-play-state: paused !important;
}

.anime-card {
    position: relative;
    aspect-ratio: 2/3;
    border-radius: var(--border-radius);
    height: 238px;
    width: 170px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.anime-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.anime-card:active {
    transform: scale(0.98);
}

.anime-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.anime-card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, var(--card-transparent) 0%, rgba(0,0,0,0) 100%);
    padding: 2px;
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.2s ease;
}

.anime-card:hover .anime-card-overlay {
    transform: translateY(0);
}

.anime-card-title {
    font-size: 0.95em;
    font-weight: 500;
    margin-bottom: 5px;
}

.anime-card-info {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
}

.anime-status {
    color: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px 5px;
    border-radius: var(--border-radius);
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

.anime-status.completed { background-color: var(--text-color-completed); }
.anime-status.watching { background-color: var(--text-color-watching); }
.anime-status.dropped { background-color: var(--text-color-dropped); }
.anime-status.on-hold { background-color: var(--text-color-on-hold); }
.anime-status.plan-to-watch { background-color: var(--text-color-plan-to-watch); }

/* Github repos */
#repos-layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background-repos);
    overflow: hidden;
    padding: var(--layout-padding);
    width: 100%;
    height: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#repos-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--layout-padding);
    scrollbar-width: 0;
}


.repo-button {
    color: var(--primary-font-color);
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--semi-transparent);
    padding: var(--layout-padding);
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100px;
    justify-content: space-between;
}

.repo-button h4 {
    font-weight: 500;
    margin: 0;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repo-button p {
    color: var(--secondary-font-color);
    font-size: 0.8em;
    margin-top: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.repo-button:hover {
    background-color: var(--primary-color);
    transform: scale(1.02);
    box-shadow: 0 5px 15px var(--semi-transparent);
}

.repo-button:active {
    transform: translateY(0);
    box-shadow: none;
}

.repo-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.8em;
}

.repo-info span {
    display: flex;
    align-items: center;
}

.repo-info span:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
}

.repo-language:before {
    background-color: var(--repo-language-color);
}

.repo-stars:before {
    background-color: var(--repo-stars-color);
}

/* footer layout */
#footer-layout {
    background-color: var(--background-footer);
    overflow: hidden;
    width: 100%;
    padding: calc(var(--layout-padding) - 5px);
    display: flex;
    border-radius: 0;
    border-top-width: 0px;
}

#footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#footer-layout p {
    color: var(--secondary-font-color);
    font-size: 0.9em;
}

#footer-layout p a {
    text-decoration: underline;
    color: var(--primary-color);
    font-weight: 500;
}

@media (max-width: 768px) {
    .main-page {
        font-size: 80%;
    }

    .head-layouts#profile-layout {
        height: 130px;
    }

    #social-layout {
        min-height: 20px;
    }

    #animes-layout {
        min-height: calc(180px + var(--layout-padding) * 2);
    }

    .anime-card {
        width: 130px;
        height: 180px;
    }

    .anime-card:hover p#anime-date {
        font-size: 0.78em;
    }

    #repos-layout {
        font-size: 110%;
    }

    h3 {
        font-size: 110%;
    }

    #footer-layout {
        height: auto;
    }
}